* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --main-font: 'Roboto', sans-serif;
}

body {
  font-family: var(--main-font);
  background-color: #f4f4f4;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}
img {
    max-width: 100%;
    display: block;
}